<div>
    <input type="button" (click)="getImages()" value="Get Images" />
</div>

<div class="progress-container">
    <ng-container *ngIf="loadingMessage">
        <div>{{ loadingMessage }}, percent done: {{ percentDone }}%</div>
        <mat-progress-bar
            mode="determinate"
            [value]="percentDone"
        ></mat-progress-bar>
    </ng-container>
</div>

<div class="container row">
    <div class="col-md-12">
        <ng-container *ngIf="retrievedImages$ | async as retrievedImages">
            <ng-container *ngFor="let retrievedImage of retrievedImages">
                <img [src]="retrievedImage" />
            </ng-container>
        </ng-container>
    </div>
</div>
