<div
    class="upload-image-container"
    fxLayout="column"
    fxLayoutAlign="space-around center"
>
    <div>
        <label>
            <input type="file" (change)="selectFile($event)" />
        </label>
    </div>
    <ng-container *ngIf="message">
        <div>{{ message }}, percent done: {{ percentDone }}%</div>
        <mat-progress-bar
            mode="determinate"
            [value]="percentDone"
        ></mat-progress-bar>
    </ng-container>
    <div>
        <button
            class="btn btn-success btn-sm"
            [disabled]="!selectedFiles"
            (click)="upload()"
        >
            Upload
        </button>
    </div>
</div>
